backports.shutil-get-terminal-size==1.0.0
cowpy==1.0.1
decorator==4.0.9
giphypop==0.2
ipython==4.2.0
ipython-genutils==0.2.0
pexpect==4.0.1
pickleshare==0.7.2
praw==3.4.0
ptyprocess==0.5.1
pygeoip==0.3.2
pyshorteners==0.6.0
requests==2.9.1
simplegeneric==0.8.1
six==1.10.0
traitlets==4.2.1
update-checker==0.11
xmltodict==0.10.1
